body {
    background-color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

#profilepic {
    border-radius: 50%;
    height: 75%;
    width: 75%;
}