body {
    text-align: center;
}

h1 {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

/* ========================= */
/* CLASSES */
/* ========================= */

.top-container {
    background-color: aquamarine;
    position: relative;
    padding-top: 100px;
}

/*.middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
    margin-left: 260px;
    border: solid 20px;
}

.bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin-left: 500px;
    border: solid 10px;
} */

#top-cloudimg {
    position: absolute;
    right: 200px;
    top: 50px;
}

#bottom-cloudimg {
    position: absolute;
    left: 200px;
    bottom: 300px;
}